/* font css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* common css */

html{
	font-size:62.5%;
}

body{
	margin:0;
	font-size:1.4rem;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.container{
	max-width:1150px;
	margin:auto;
}

a{
	text-decoration:none;
	display:inline-block;
}

ul{
	list-style:none;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p,ul{
	margin:0;
}

.section-padding{
	padding: 7rem 0;
}

.btn{
	text-transform: capitalize;
	color: white;
	font-weight: 400;
	padding: 1.5rem 3rem;
	background: #fab702;
	border-radius: .3rem;
	transition: .5s;
}

.btn:hover{
	background: blueviolet;
}

p{
	font-weight: 400;
	line-height: 2.5rem;
}
html{
	overflow-x: hidden;
}
/* common css */




/* main css */

/* menu area css */
.top-menu-container{
	background: #f5f5f5;
}
.top-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact{
	display: flex;
	align-items: center;
}
.contact .mail,
.contact .call{
	display: flex;
	align-items: center;
}
.top-menu a{
	color: #696969;
	padding: 2.3rem 0;
}
.top-menu i{
	color: #696969;
	font-size: 1.6rem;
	margin-right: .5rem;
}
.mail{
	margin-right: 3rem;
}
.call i{
	transform: rotate(-45deg);
}
/* main menu */
.main-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.munu-area{
	display: flex;
	align-items: center;
}
.menu ul{
	display: flex;
}
.logo{
	padding: 2rem 0 3.5rem 0;
}
.menu ul li a{
	color: #3b404f;
	font-weight: 400;
	padding: 0 1.4rem;
	text-transform: capitalize;
	transition: .5s;
}
.menu ul li a:hover,
.menu ul li a.active{
	color: #fab702;
}
.munu-area i{
	font-size: 1.6rem;
	margin-left: 1.6rem;
	color: #4f5360;
	align-self: center;
}
.munu-area .menu-i{
	display: none;
	padding: .5rem;
	border: .1rem solid #4f5360;
	border-radius: .3rem;
	transition: .5s;
}
.munu-area .menu-i:hover{
	background: #FAB702;
	color: white;
}

/*toggle menu*/
.main-menu-container{
	position: relative;
}
.menu.active-menu {
	position: absolute;
	width: 200px !important;
	right: 0 !important;
	top: 100%;
	background: #e1e1e1;
	z-index: 3;
	visibility: visible !important;
	opacity: 1 !important;
	transition: .5s;
}
.active-menu ul {
	list-style: none;
	padding: 0;
	flex-direction: column;
	text-align: center;
	padding: 1rem;
}
.active-menu li {
	padding: 1rem;
}
/* menu area css */



/* banner area css start */
.banner-container{
	background: url(../images/banner.jpg) no-repeat scroll center center / cover;
	position: relative;
	z-index: 1;
}
.banner-container:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: -1;
}
.banner-content{
	padding: 19rem 0;
}
.banner-content h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 6.4rem;
	max-width: 67rem;
	width: 100%;
	color: white;
	margin-bottom: 2rem;
	line-height: 8rem;
	text-transform: uppercase;
}
.banner-content p{
	max-width: 49.5rem;
	width: 100%;
	color: white;
	margin-bottom: 3rem;
}
/* banner area css end */



/* contact area css start */
.contact-container{
	background: #fab702;
}
.contact-area{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-area p{
	font-size: 2.5rem;
	color: white;
}
.contact-area p a{
	font-style: italic;
	color: black;
	text-decoration: underline;
}
.contact-area .btn{
	margin: 2.6rem 0;
	background: white;
	color: #fab702;
	transition: .5s;
}
.contact-area .btn:hover{
	background: blueviolet;
	color: white;
}
/* contact area css end */




/* service area css start */
.service-heading{
	text-align: center;
}
.service-heading h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 4.4rem;	
	color: #3b404f;
	margin-bottom: 3rem;
	text-transform: uppercase;
}
.service-heading p{
	max-width: 64.5rem;
	width: 100%;
	margin: auto;
	color: #6d7396;
}
.services{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	justify-items: center;
}
.single-service{
	max-width: 35rem;
	width: 100%;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: .7rem;
}

.single-service img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: .7rem .7rem 0 0;
}
.service-content{
	padding: 2rem;
}
.service-content h1 a{
	font-size: 2.2rem;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: #3b404f;
	padding: 0 0 3rem 0;
	transition: .5s;
	text-transform: uppercase;
}
.service-content p{
	color: #6d7396;
	margin-bottom: 2rem;
}
.service-content>a{
	color: #6d7396;
	transition: .5s;
	position: relative;
	padding-bottom: .5rem;
	overflow: hidden;
}
.service-content>a:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: .2rem;
	width: 100%;
	background: #fab702;
	transform: translateX(-100%);
	transition: .5s;
}
.service-content>a:hover:after{
	transform: translateX(0);
}
.service-content>a:hover,
.service-content h1 a:hover{
	color: #fab702;
}
/* service area css end */




/* general area css start */
.general-container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	background: #f8f8f8;
}
.general-img{
	position: relative;
	height: 100%;
}
.general-area{
}
.general-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.general-img a i{
	position: absolute;
	right: 5rem;
	bottom: 3rem;
	font-size: 5rem;
	color: white;
	transition: .5s;
}
.general-img a i:hover{
	color: #78b8e4;
}
.single-general{
	display: flex;
	align-items: center;
}
.single-general:nth-child(2){
	margin: 2rem 0;
}
.single-general i{
	font-size: 5rem;
	width: 10rem;
	height: 10rem;
	line-height: 10rem;
	text-align: center;
	color: #78b8e4;
}
.single-general:nth-child(2) i{
	color: #7ce5a1;
}
.single-general:nth-child(3) i{
	color: #e478ad;
}
.single-general h1 a{
	font-size: 2.2rem;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: #3b404f;
	transition: .5s;
	margin-bottom: 1rem;
}
.single-general h1 a:hover{
	color: #ffb700;
}
.single-general p{
	color: #6d7396;
	max-width: 37rem;
	width: 100%;
}
/* general area css end */




/* works area css start */
.work-menu ul{
	display: flex;
	justify-content: center;
}
.work-menu ul li{
	padding-bottom: .5rem;
	color: #212121;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	margin:0 1rem 5rem 1rem;
	transition: .5s;
}
.work-menu ul li:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: .2rem;
	width: 100%;
	background: #fab702;
	transform: translateX(-100%);
	transition: .5s;
}
.work-menu ul li:hover:after,
.work-menu ul li.active:after{
	transform: translateX(0);
}
.work-menu ul li:hover,
.work-menu ul li.active{
	color: #fab702;
}
.works{
	display: flex;
	width: 100%;
}
.single-work{
	position: relative;
	overflow: hidden;
	width: calc(33.33% - 5px);
	margin: 0 2.5px;
}
.single-work:after{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	background: transparent;
	height: 0;
	width: 0;
	border-top: .5rem solid white;
	border-right: .5rem solid white;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
}
.single-work:hover.single-work:after{
	visibility: visible;
	opacity: 1;
	height: 100%;
	width: 100%;
}
.single-work:before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background: transparent;
	height: 0;
	width: 0;
	border-left: .5rem solid white;
	border-bottom: .5rem solid white;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
}
.single-work:hover.single-work:before{
	visibility: visible;
	opacity: 1;
	height: 100%;
	width: 100%;
}
.single-work img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.work-overlay{
	position: absolute;
	left: 0;
	bottom: -50%;
	width: 100%;
	background: rgba(255, 255, 255, .5);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 0 4rem 2rem;
	box-sizing: border-box;
	z-index: 3;
	transition: 1s;
	visibility: hidden;
	opacity: 0;
}
.single-work:hover .work-overlay{
	bottom: 0;
	visibility: visible;
	opacity: 1;
}
.work-overlay h1 a{
	font-weight: 500;
	font-size: 2.2rem;
	color: #3b404f;
	padding-bottom: .5rem;
	position: relative;
}
.work-overlay h1 a:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: .2rem;
	width: 5rem;
	background: #3b404f;
}
.work-icon{
	margin-right: 1.5rem;
}
.work-icon i{
	width: 3rem;
	height: 3rem;
	text-align: center;
	background: #fab702;
	border-radius: .3rem;
	color: white;
	line-height: 3rem;
	cursor: pointer;
	margin-bottom: 2px;
}

/* works area css end */




/* customer area css start */
/* feedback css area start */

.swiper {
	width: 100%;
	height: auto;
}

.feedbacks{
	display: flex;
}
.simgle-feedback{
	width: 100%;
	display: flex !important;
	align-items: center;
	background: #f9f9f9;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
	margin-bottom: 60px;
}
.feedback-img{
	flex-basis: 30%;
	height: 190px;
}
.feedback-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: block;
}
.feedback{
	flex-basis: 70%;
	padding: 2rem;
}
.feedback p{
	color: #6d7396;
	margin-bottom: 3rem;
}
.feedback h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
	color: #3b404f;
	text-transform: uppercase;
}


.mySwiper .swiper-pagination span{
	height: 1.2rem;
	width: 1.2rem;
	background: #878787;
	margin: 0 .3rem;
	cursor: pointer;
	transition: .5;
}


.mySwiper .swiper-pagination span:hover,
.mySwiper .swiper-pagination span.swiper-pagination-bullet-active{
	background: #fab702;
}
/* feedback css area end */
/* partners area css start */
.single-partner {
	width: 100%;
}
img {
	width: 100%;
	height: auto;
	object-fit: contain;
}
.partners{
	justify-items: center;
	display: flex;
}
.single-partner img:hover{
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
/* partners area css end */
/* customer area css end */




/* count area css start */
.count-container{
	background: url(../images/count.jpg) no-repeat scroll center center / cover;
	position: relative;
	z-index: 1;
}
.count-container:after{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: -1;
}
.count-area{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	text-align: center;
	color: white;
}
.single-count h6{
	font-weight: 400;
	font-size: 1.4rem;
	text-transform: uppercase;
}
.single-count h1{
	font-weight: 400;
	font-size: 5rem;
}
/* count area css end */




/* embed area css start */
.embed-container{
	background: #e8e8e8;
}
.embed-area{
	display: flex;
	justify-content: space-between;
	padding: 3rem;
	background: white;
	border-left: .5rem solid #fab702;
}
.embed-heading h3{
	font-weight: 400;
	font-size: 2rem;
	color: #3b404f;
}
.embed-heading p{
	color: #3b404f;
}
/* embed area css end */




/* news area css start */
.news-container{
	padding-bottom: 5rem;
}
.news h1 a{
	padding: 0 0 1rem 0;
}
.news h3{
	font-weight: 400;
	font-size: 1.1rem;
	color: #6d7396;
	padding-bottom: 2rem;
}
.news h3 i{
	padding-right: .5rem;
}
/* news area css end */




/* footer area css start */
.footer-container{
	background: #252c3a;
}
.footer-area{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: white;
	grid-column-gap: 3rem;
}
.single-footer h3{
	font-weight: 400;
	margin-bottom: 3rem;
}
.single-footer a,
.single-footer p{
	font-weight: 400;
	color: white;
	transition: .5s;
}
.single-footer a:hover{
	color: #7da2ce;
}
.single-footer li{
	padding: 1.5rem 0;
}
.single-footer li:not(:last-child){
	border-bottom: .1rem solid #464646;
}
.footer-news{
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1.5rem 0;
}
.footer-news:nth-of-type(1){
	border-bottom: .1rem solid #464646;
}
.footer-news-img{
	flex-basis: 30%;
	height: 100%;
	margin-right: 1rem;
}
.footer-news-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: block;
}
.footer-news h4{
	font-size: 1rem;
	font-weight: 400;
}
.single-footer i{
	margin-right: 1rem;
}
.single-footer:nth-of-type(3)>p{
	border-bottom: .1rem solid #464646;
	padding: 1.5rem 0;
}
.ip-area{
	display: flex;
	padding: 1.5rem 0;
	align-items: center;
	border-bottom: .1rem solid #464646;
}
.social{
	padding: 1.5rem 0;
	font-size: 2rem;
}
.input input{
	border: none;
	padding: 1.5rem;
	outline: none;
	margin: 1rem 0;
}
button{
	border: none;
}
.single-footer:nth-of-type(4) p{
	padding: 1.5rem 0;
}
/* footer bottom */
.footer-bottom-container{
	background: #4c5b6d;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0;
	color: white;
}
.footer-menu ul{
	display: flex;
}
.footer-menu ul li a{
	color: white;
	padding: 0 .8rem;
	transition: .5s;
}
.footer-menu ul li a:hover{
	color: #fab702;
}
/* footer area css end */
